*{
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

/*Estilos de la cabecera de la página*/

div.cabecera{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.cabecera img.logotipo{
    width: 100px;
    height: auto;
}

.cabecera span{
    font-size: 35px;
    font-weight: 600;
}

div.mis_datos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}
  
div.mis_datos a{
    text-decoration: none;
    padding: 5px;
}

div.mis_datos a:hover{
    font-weight: 600;
}
  
div.mis_datos a .btn{
    display: flex;
    align-items: center;
    padding: 5px;
    letter-spacing: 0.05em;
    border-radius: 4px;
}
  
div.mis_datos img {
    height: 36px;
    margin-left: 3.5px;
    margin-right: 5.5px;
}


/*Estilos del navegador de la página*/

div.navegador{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1;
}
  
div.submenu{
    width: 150px;
    border-radius: 4px;
    margin: 3.5px;
    padding: 5px;
}
  
div.submenu a{
    text-decoration: none;
}

div.submenu a .boton:hover{
    font-weight: 600;
}
  
div.submenu a .boton{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    padding: 5px;
    border-radius: 4px;
}


/*Estilos del cuerpo de la página*/

div.cuerpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.uno img{
    max-width: 400px;
}

.dos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
}

.cuerpo span{
    font-weight: 700;
}


/*Estilos del footer de la página*/

div.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.footer .col1 h3{
    text-decoration: underline;
}


.footer .col1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}

.footer .col1 h3{
    text-decoration: underline;
}

.footer .col1 a{
    text-decoration: none;
}

.footer .col2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
}

.footer .col2 h3{
    text-decoration: underline;
}

.footer .col3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
}

.footer .col3 h3{
    text-decoration: underline;
}

.footer .col3 img{
    width:"50px"; 
    height:"50px";
}



/*Modo claro de la página*/
@media (prefers-color-scheme: light){
    body{
        background-color: white;
    }

    /*Modo claro de la cabecera*/
    .cabecera{
        background-color: #e26a2c;
    }

    div.mis_datos a{
        color: black;
    }

    div.mis_datos a .btn{
        background-color: #ffae6a;
        border: 1px solid black;
    }

    div.mis_datos a .btn:hover{
        background-color: #ff8243;
        box-shadow: 10px 5px 5px #c65314;
    }

    /*Modo claro del navegador*/
    .navegador{
        background-color: #ffd792;
    }

    div.submenu{
        background-color: #ffae6a;
        border: 1px solid black;
    }

    div.submenu:hover{
        background-color: #ff8243;
        box-shadow: 10px 5px 5px #c65314;
    }

    div.submenu a .boton{
        color: black;
    }

    /*Modo claro del cuerpo*/
    .uno{
        background-color: #ffae6a;
        border: 1px solid black;
    }

    .dos{
        background-color: #ffae6a;
        border: 1px solid black;
    }


    /*Modo claro del footer*/
    .footer{
        background-color: #ffd792;
    }

    .footer .col1{
        background-color: #ffae6a;
        border: 1px solid black;
    }

    .footer .col1 a{
        color: black;
    }

    .footer .col2{
        background-color: #ffae6a;
        border: 1px solid black;
    }

    .footer .col3{
        background-color: #ffae6a;
        border: 1px solid black;
    }

}

/*Modo oscuro de la página*/
@media (prefers-color-scheme: dark){
    body{
        background-color: rgb(31, 31, 31);
        color: white;
    }

    /*Modo oscuro de la cabecera*/
    .cabecera{
        background-color: #b6520f;
    }

    div.mis_datos a{
        color: white;
    }

    div.mis_datos a .btn{
        background-color: #ea9247;
        border: 1px solid white;
    }

    div.mis_datos a .btn:hover{
        background-color: #d2691e;
        box-shadow: 10px 5px 5px #9b3c00;
    }

    /*Modo oscuro del navegador*/
    .navegador{
        background-color: #ea9247;
    }

    div.submenu{
        background-color: #d2691e;
        border: 1px solid white;
    }

    div.submenu:hover{
        background-color: #d2691e;
        box-shadow: 10px 5px 5px #9b3c00;
    }

    div.submenu a .boton{
        color: white;
    }

    /*Modo oscuro del cuerpo*/
    .uno{
        background-color: #d2691e;
        border: 1px solid white;
    }

    .dos{
        background-color: #d2691e;
        border: 1px solid white;
    }


    /*Modo oscuro del footer*/
    .footer{
        background-color: #ea9247;
    }

    .footer .col1{
        background-color: #d2691e;
        border: 1px solid white;
    }

    .footer .col1 a{
        color: white;
    }

    .footer .col2{
        background-color: #d2691e;
        border: 1px solid white;
    }

    .footer .col3{
        background-color: #d2691e;
        border: 1px solid white;
    }
}