*{
    box-sizing: border-box;
    
    font-family: 'Courier New', Courier, monospace;
}
/**********************************************************/
body{
    margin: 0;
}

/**********************************************************/

div.cabecera{
    border: 1px solid black;
}

/**********************************************************/

div.navegacion{
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    flex-direction: row;
    top: 0;
    padding: 35px;
    border: 1px solid red;
    
}

div.navegacion a{
    margin: 15px;
}

/**********************************************************/

div.cuerpo{
    width: 70%;

    float: left;
    border: 1px solid blue;
}

/**********************************************************/

div.menuLateral{
    width: 30%;
    float: right;
    border: 1px solid yellow;
}

/**********************************************************/

div.footer{
    clear:both;
    border: 1px solid green;
}